*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EAEAEA;
}

ul{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

.toggle{
    position: fixed;
    top: 40px;
    right: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.4s linear;
    animation: bounce 1s ease-in-out infinite;
}

.toggle:hover{
    transform: rotate(90deg);
}

@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 380px;
    height: 100%;
    transition: all 0.5s ease-in-out;
    transform: translate(-100%);
}

.open{
    transform: translate(0);
 } 

.side-bar__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 1.5rem 2rem;
    margin-bottom: 20px;
}

.close-btn{
    color: red;
    cursor: pointer;
    transition: all 1s;
}

.close-btn:hover{
    transform: rotate(360deg);
}

.side-bar__list li{
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.side-bar__list li:hover{
    background-color: rgb(154, 197, 244, 0.5);
    padding-left: 50px;
    transition: all 0.6s linear;
}

.side-bar__icon{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.side-bar__icon li{
    padding: 1rem 0.5rem;
}

@media screen and (max-width : 500px){
    .side-bar{
        width: 100%;
    }
}