*{
    margin: 0;
    padding: 0;
}
html, header{
    display: flex;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    width: 100%;
    flex-flow: column;
    overflow-y: scroll;
}
header{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(img/background.jpg) center/cover no-repeat;
}
main{
    display: flex;
    width: 100%;
    flex-direction: column;
}
nav{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 5px;
}
a[href]{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.nav-center{
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 95%;
    margin-right: 100px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.logo-content{
    transform: scale(1.5);
    color:rgb(35, 48, 82);
}
.logo-content:hover{
    transform: scale(2);
    transition: all 0.7s;
}
.link-container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link-content{
    padding: 20px 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    visibility: visible;
    margin: 0px 30px;
}
.link-content:hover{
    color: rgb(48, 223, 77);
    transition: all 0.5s;
}
.bar-container{
    margin-right: 20px;
}
.bar-content{
    visibility: hidden;
}
@media screen and (max-width: 840px){
    nav{
        display: flex;
        justify-content: space-between;
        background-color: white;
        width: 100%;
        height: 100px;
        padding: 0px;
    }
    .nav-center{
        height: 100px;
        margin: 0;
        width: 90%; 
    }
    .logo-container{
        margin-left: 0px;
    }
    .logo-content{
        color:rgb(35, 48, 82);
    }
    .link-container{
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0px;
        width: 100%;
    }
    .link-content{
        margin: 0px;
    }
    .bar-container{
        margin-right: 20px;
    }
    .bar-content{
        visibility: visible;
    }
}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.title-text{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 80px;
    font-weight: bold;
}
.main-text{
    position: relative;
    top: 20px;
    color: rgb(255, 255, 255);
    width: 600px;
    font-size: 25px;
    font-weight: bold;
}
.btn-container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    border: 1px solid white;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
}
#about, #service, #tour{
    height: 90vh;
    text-align: center;
}
#about, #tour{
    background-color: rgba(158, 158, 158, 0.377);
}
.subtitle{
    display: inline;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    color: black;
    text-transform: uppercase;
}
.subtitle span{
    color: rgb(31, 186, 224);
    text-transform: uppercase
}
footer .section{
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: rgb(35, 48, 82);
    color: white;
    font-size: 17px;
    letter-spacing: 5px;
}